
codigo/__pycache__/*
dataset/FreeStyle.csv
dataset/generado/datasetDepurado.csv
dataset/Glucose Level - T1D - FreeStyle Libre.csv
dataset/generado/dfGen.dataset
dataset/generado/dataset15min/*
dataset/generado/dataset30min/*
